---
layout: default
---
{% include settings.md %}

<div data-role="page" data-theme="a">

	<div data-role="header">
		<a href="index.html" data-role="button" data-icon="arrow-l" data-prefetch>Back</a>
		<h1>{{ page.day }} Iulie</h1>
		<a href="favorite.html" data-role="button" data-icon="star" data-iconpos="notext" data-prefetch>Favorite</a>
	</div>

	<div data-role="content">	
		
		<div class="venue-selector">
			<a href="#venues" data-rel="popup" data-role="button" data-theme="d" data-icon="arrow-d" data-iconpos="right">
				{% if page.url contains '/hu/' %}
					Minden helyszínen
				{% else %}
					Toate locatiile
				{% endif %}
			</a>
		</div>

		<div data-role="popup" id="venues" data-theme="c" data-overlay-theme="a">
			
			<ul data-role="listview" data-inset="true" data-theme="c">
				<li data-role="divider" data-theme="b">
					{% if page.url contains '/hu/' %}
						Minden helyszínen
					{% else %}
						Toate locatiile
					{% endif %}
				</li>
				{% for location in site.locations %}
					<li><a href="day{{ page.day }}{{ location.filename }}.html" data-prefetch>{{ location.name }}</a></li>
				{% endfor %}
			</ul>
			
		</div>
		
		<ul data-role="listview" data-filter="true" data-filter-placeholder="Cauta.." data-filter-theme="a">
			
			{% for post in site.posts reversed %}
				
				{% if post.categories contains page.lang and post.day == page.day %}

					<li class="artist" id="{{ post.url }}">
						<span class="star-artist"></span>
						<a href="{{ baseurl_nolang }}{{ post.url }}">
							<span class="artist-title">{{ post.title }}</span>
							<span class="artist-times">{{ post.date | date: "%H:%M" }}</span>
							<span class="artist-venue">{{ post.venue }}</span>
						</a>
					</li>

				{% endif %}		
				
				
			{% endfor %}
			
		</ul>
		
	</div>

</div>