---
layout: default
---

<div data-role="page" data-theme="a">

	<div data-role="header">
		<a href="index.html" data-role="button" data-icon="arrow-l">Back</a>
		<h1>{{ page.day }} August</h1>
		<a href="favorite.html" data-role="button" data-icon="star" data-iconpos="notext">Favorite</a>
	</div>

	<div data-role="content">	
		
		<div class="venue-selector">
			<a href="#venues" data-rel="popup" data-role="button" data-theme="d" data-icon="arrow-d" data-iconpos="right">
				{% if page.url contains '/hu/' %}
					Minden helyszínen
				{% else %}
					Toate locatiile
				{% endif %}
			</a>
		</div>

		<div data-role="popup" id="venues" data-overlay-theme="a">
			
			<ul data-role="listview" data-inset="true">
				<li data-role="divider" data-theme="a">
					{% if page.url contains '/hu/' %}
						Minden helyszínen
					{% else %}
						Toate locatiile
					{% endif %}
				</li>
				<li><a href="day{{ page.day }}main.html">Main Stage</a></li>
				<li><a href="day{{ page.day }}freedom.html">Freedom Music Arena</a></li>
				<li><a href="day{{ page.day }}kiss.html">Kiss Terrace</a></li>
				<li><a href="day{{ page.day }}ciuc.html">Ciuc Music Live Stage</a></li>
				<li><a href="day{{ page.day }}booha.html">Booha The Academy</a></li>
			</ul>
			
		</div>
		
		<ul data-role="listview">
			
			{% for post in site.posts reversed %}
				
				{% if post.categories contains page.lang and post.day == page.day %}

					<li class="artist" id="{{ post.url }}">
						<span class="star-artist"></span>
						<a href="{{ post.url }}">
							<span class="artist-title">{{ post.title }}</span>
							<span class="artist-times">{{ post.date | date: "%H:%M" }} - {{ post.enddate | date: "%H:%M" }}</span>
							<span class="artist-venue">{{ post.venue }}</span>
						</a>
					</li>

				{% endif %}		
				
				
			{% endfor %}
			
		</ul>
		
	</div>

</div>