---
layout: default
---

{% if page.url contains '/hu/' %}
	{% assign lang = 'hu' %}
{% else %}
	{% assign lang = 'ro' %}
{% endif %}

{% assign baseurl_nolang = 'http://ghinda.net/peninsula' %}
{% assign baseurl = baseurl_nolang | append: '/' | append: lang %}

<div data-role="page" data-theme="a">

	<div data-role="header">
		<a href="{{ baseurl }}/index.html" data-role="button" data-icon="arrow-l">Back</a>
		<h1>{{ page.day }} August</h1>
		<a href="{{ baseurl }}/favorite.html" data-role="button" data-icon="star" data-iconpos="notext">Favorite</a>
	</div>

	<div data-role="content">	
		
		<div class="venue-selector">
			<a href="#venues" data-rel="popup" data-role="button" data-theme="d" data-icon="arrow-d" data-iconpos="right">
				{{ page.venue }}
			</a>
		</div>

		<div data-role="popup" id="venues" data-overlay-theme="a">
			
			<ul data-role="listview" data-inset="true">
				<li data-role="divider" data-theme="a">{{ page.venue }}</li>
				<li><a href="{{ baseurl }}/day{{ page.day }}.html">
					{% if page.url contains '/hu/' %}
						Minden helyszínen
					{% else %}
						Toate locatiile
					{% endif %}
				</a></li>
				{% if page.venue != 'Main Stage' %}
					<li><a href="{{ baseurl }}/day{{ page.day }}main.html">Main Stage</a></li>
				{% endif %}
				{% if page.venue != 'Freedom Music Arena' %}
					<li><a href="{{ baseurl }}/day{{ page.day }}freedom.html">Freedom Music Arena</a></li>
				{% endif %}
				{% if page.venue != 'Kiss Terrace' %}
					<li><a href="{{ baseurl }}/day{{ page.day }}kiss.html">Kiss Terrace</a></li>
				{% endif %}
				{% if page.venue != 'Ciuc Music Live Stage' %}
					<li><a href="{{ baseurl }}/day{{ page.day }}ciuc.html">Ciuc Music Live Stage</a></li>
				{% endif %}
				{% if page.venue != 'Booha The Academy' %}
					<li><a href="{{ baseurl }}/day{{ page.day }}booha.html">Booha The Academy</a></li>
				{% endif %}
			</ul>
			
		</div>
		
		<ul data-role="listview">
			
			{% for post in site.posts reversed %}
		
				<!-- show only posts in lang -->	
				{% if post.categories contains page.lang and post.day == page.day and post.venue == page.venue %}
					
					<li class="artist" id="{{ post.url }}">
						<span class="star-artist"></span>
						<a href="{{ baseurl_nolang }}{{ post.url }}">
							<span class="artist-title">{{ post.title }}</span>
							<span class="artist-times">{{ post.date | date: "%H:%M" }} - {{ post.enddate | date: "%H:%M" }}</span>
							<span class="artist-venue">{{ post.venue }}</span>
						</a>
					</li>

				{% endif %}		
				
				
			{% endfor %}
			
		</ul>
		
	</div>

</div>