<!DOCTYPE html> 
<html manifest="/manifest.appcache"> 
	<head> 
	<title>Peninsula 2012 - Targu Mures - Programul *Neoficial*</title> 
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1"> 
	
	<link rel="stylesheet" href="/lib/jquery.mobile.css" />
	<link rel="stylesheet" href="/css/base.css" />
	
	<!--
	<link rel="stylesheet" href="/lib/android-holo-light.min.css" />
	-->
	
	<script src="/lib/jquery.js"></script>
	<script src="/lib/jquery.mobile.js"></script>
</head> 
<body> 

	{{ content }}
	
	<script>
		var _gaq = [['_setAccount', 'UA-19824700-1'], ['_trackPageview']];
		(function(d, t) {
			var g = d.createElement(t), s = d.getElementsByTagName(t)[0]; g.async = 1;
			g.src = ('https:' == location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
			s.parentNode.insertBefore(g, s);
		})(document, 'script');
	</script>

</body>
</html>