<!DOCTYPE html>
{% include settings.md %}
<html manifest="{{ baseurl_nolang }}/manifest.appcache">
<!--
<html>
-->
	<head> 
	<title>Peninsula 2013 - Cluj-Napoca - Programul *Neoficial*</title>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1"> 
	
	<link rel="stylesheet" href="{{ baseurl_nolang }}/lib/jquery.mobile.css" />
	<link rel="stylesheet" href="{{ baseurl_nolang }}/css/base.css" />
	<script src="{{ baseurl_nolang }}/lib/jquery.js"></script>
	<script src="{{ baseurl_nolang }}/js/base.js"></script>
	<script src="{{ baseurl_nolang }}/lib/jquery.mobile.js"></script>
</head>
<body>

	{{ content }}

</body>
</html>
